/*



@font-face {
    font-family: 'proxima_novabold';
    src: url('../fonts/proxima-nova-bold-webfont.woff2') format('woff2'),
         url('../fonts/proxima-nova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novaregular';
    src: url('../fonts/proxima-nova-regular-webfont.woff2') format('woff2'),
         url('../fonts/proxima-nova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('../fonts/proxima-nova-semibold-webfont.woff2') format('woff2'),
         url('../fonts/proxima-nova-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_ththin';
    src: url('../fonts/proxima-nova-thin-webfont.woff2') format('woff2'),
         url('../fonts/proxima-nova-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'courierregular';
    src: url('../fonts/courier-webfont.woff2') format('woff2'),
         url('../fonts/courier-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
                                                                                     



@font-face {
    font-family: 'proxima_novaextrabold';
    src: url('fontsfree-net-proxima-nova-xbold-webfont.woff2') format('woff2'),
         url('fontsfree-net-proxima-nova-xbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}       */

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on October 9, 2018 */



@font-face {
    font-family: 'proxima_novaregular';
    src: url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novaextrabold';
    src: url('../fonts/proxima-nova-xbold-webfont.woff2') format('woff2'),
         url('../fonts/proxima-nova-xbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novablack';
    src: url('../fonts/proxima-nova-black-webfont.woff2') format('woff2'),
         url('../fonts/proxima-nova-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novalight';
    src: url('../fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

