@media screen and (max-width: 1801px) {
	header .services{margin: 0px 52px;}
}

@media screen and (max-width: 1700px) {
	header .services{margin: 0px 27px;}
	.content-heading h1,.content-heading h2,.parameters-heading h3,.website-heading h3,h3 { font-size: 26px; }
	.accordion h5,.card-body .blue-border-btn a,.card .download,.website-desc p { font-size: 17px; }
	.website-heading span{ font-size: 20px; }
	footer ul li a{ font-size: 14.03px; }
	footer ul{ padding-left:5px; }
	header .report { max-width: 177px;  margin-right: 15px; }			
	header .report .dropdown{padding: 28px 0px; }
	.menu-heading p{ font-size: 20px;}
	.menu-heading h2 { font-size: 22px !important; }	
	#navbarToggleExternalContent{ padding: 30px;}
	.menu-heading {  margin-bottom: 15px;}
	.header-menu-left ul li { line-height: 33.94px;}
	.header-menu-left ul li a {  font-size: 18.39px;}
	.supplier_logo h3,.supplier_logo p{ font-size: 20px; }
	.supplier_logo h3{ line-height: 30px; }
	.supplier_logo ul{ margin: 0px 0px 0px;}

}

@media screen and (max-width: 1500px) {
	.parameters-heading span { font-size: 21px; }
	.website-desc { padding: 16px 25px 16px 43px; }
	header .services{max-width: 121px; margin: 0px 20px; }	
}

@media screen and (max-width: 1420px) {
	header .services{ margin:0px 3%; max-width: 27.6%; } 
	header .report{ margin-right:2%; max-width: 38%; }
	.website-desc p { font-size: 14px; line-height: 13px;}
	.blue-pic_box .m-content h4, .blue-pic_box .m-content p {font-size: 16.33px;}
	#navbarToggleExternalContent{ height: 600px; overflow-y:auto; }
	.supplier_logo li{ margin: 0px 0px 30px; }
	h2{ font-size:27px !important; }
	.website-heading span{ font-size: 18px; }
	.slider p,.content-heading h1,.content-heading h2, .parameters-heading h3, .website-heading h3, h3{ font-size: 26px; }
	header .report a{font-size: 13px;}
	.parameters-heading span {  font-size: 20px;}
}	


@media screen and (max-width: 1199px){
	header .flag{ display: none; }	
	header .services{ margin:0% 6% 0% 0%; max-width: 29.6%; } 
	header .services a{ padding: 29px 13px; font-size: 14px; }
	.sticky .services a{ padding: 25px 13px;}
	header .report{max-width: 52%;}
	header .report a{ font-size: 14px; }
	.content-heading h1,.content-heading h2,.parameters-heading h3,.website-heading h3,h3,.content-heading span { font-size: 19px; }
	.content,.website,.slider{ margin: 50px 0px; }
	.content-heading{ margin-bottom: 30px; }
	.content p{ font-size: 15.5px;}
	h2{ font-size:24px !important; }
	.gallery span{ font-size: 21px; }
	.blue-border-btn a,.white-border-btn a,.slider p,.parameters-heading span{ font-size: 18px;}
	.parameters-heading{ padding: 15px; }
	h3{ font-size: 19px; }
	.parameters-image{padding: 29px 38px; }
	.website-heading{ padding: 15px 20px; }
	.website-desc{ padding: 10px 11px 10px 21px; }
	.website-block .col:first-child{padding-right: 5px; }
	.website-block .col{padding-right: 5px; padding-left: 5px;}
	.website-desc p{ font-size: 12px; }
	.website-desc p:before{ margin-left: -14px; margin-right: 5px; }
	footer ul li{ font-size: 14px; line-height: 20.06px;    margin-bottom: 10px;}
	.breadcrumb p{ font-size: 15.5px;}
	.slider-btn a{margin-top: 35px;}
	.website-image img {  min-height: 140px;}
	.breadcrumb-left p { font-size: 14.5px; }
	
	.accordion h5{ font-size: 14px;}
	.accordion a.collapsed .symbol::before {height: 25px; width: 25px; }
	.accordion-header a{ padding: 25px 15px; }
    .breadcrumb p a{ font-size:13px; }
    
    /*changes*/
    .parameters-block.map{ padding:0px;}
    .parameters-block.map .parameters-heading{ padding: 20px 38px; height:85px; }

}
@media screen and (max-width: 1023px){
	.mobile-col,.mob-nav{display:block;}
	.mobile-col{ display: flex; align-items:center; }
	.desktop-col,.breadcrumb-left{display: none;}
	header,.sticky{height:auto;}
	header .services a{ padding: 25.3px 13px;}
	header .report{padding: 0px 0px;}
	header .report .dropdown{padding: 23px 0px;}
	header .logo, .sticky .logo{ padding: 9px 15px; }
	.gallery{ padding: 50px 0px 60px; }	
    /*changes*/
    .parameters-block.map .parameters-heading {   padding: 13px 38px;       height: auto; }
}
@media screen and (max-width: 960px) {
	header .report{ display: none}
	header .services{  margin: 0% 16% 0% 0%;  max-width: 53.6%;}
	.mb-2, .my-2{margin: 0px !important; }
	/*header ends*/
	.blue-border-btn a, .white-border-btn a, .slider p{ font-size: 17px; }
	.blue-border-btn a, .white-border-btn a{ padding: 10px 16px; }
	.website-desc p{ font-size: 11px;  line-height: inherit;}
	.website-desc p:before{ height: 7px; width: 9px;}
	.carousel-indicators li{ width: 24px;}
	.gallery span{ font-size: 19px; }
	.slider-right{ padding: 29px;}
	h2{ font-size: 18px !important; }
	.slider p{ font-size: 15px !important; }
	.slider .address{margin-bottom: 15px;}
	.slider .address span{ font-size: 14.5px; }
	.blue-border-btn a, .white-border-btn a{font-size: 16px; }
	.parameters-heading h3{ font-size: 16px; }
	.parameters-heading span{ font-size: 14px;}
	.parameters-heading{ padding: 10px; }
	.website-block .col{margin-bottom: 10px;}
	.website-block .col:nth-child(odd) { padding-left:0px;}
	.accordion h5{ font-size: 14px;}
	
	.pd-right{ padding-right: 15px; }
	.pd-left {  padding-left: 15px; }
    
    .parameters-block.map .parameters-heading {   padding: 21px 15px;     height: 69px; }
    
    .website-block .col:nth-child(even) {    padding-right: 0px;   }
}

@media screen and (max-width: 768px) {
	.parameters-heading span { font-size: 11px;}
	.content, .website, .slider{ margin: 50px 0px 40px; }
    .parameters-block.map .parameters-heading{ padding:15px; }
	}
@media screen and (max-width: 767px) {
	.parameters-heading{ padding: 9px; }
	.parameters-heading h3 {  font-size: 14px;}
	.content-heading h1,.content-heading h2, .parameters-heading h3, .website-heading h3, h3, .content-heading span { font-size: 16px;}
	.content p{ font-size: 14.5px; line-height: 22px;}
	
	.parameters .col-sm-6 { padding: 0px 10px; }
	header .services{display: none; }
	.breadcrumb p{margin-bottom: 0px; font-size: 14.5px; }
	.breadcrumb { height: auto; padding: 12px 30px; }
	.gallery-heading,.gallery-btn{ padding: 0px 12px !important; }
	.gallery{ padding: 30px 0px; }
	.gallery span{ font-size: 14px;}
	.gallery-heading{ margin-bottom: 28px;}
	.parameters-heading{ padding: 4px; }
	.parameters-image{padding: 0px;}
	.parameters-heading h3{ font-size: 13px;}
	.parameters-heading span{ font-size: 11px; }
	.parameters { margin-bottom: 10px;}
	.content, .website, .slider { margin: 30px 0px 40px;}
	.parameters-image img{height: 133px;}
	
	.social-media ul li a img{ max-width: 78%; }
	.social-media ul li a{ text-align: right; }
	.social-media ul{ padding: 7px 0px 3px; }
	.social-media ul li {  margin-bottom: 5px;}
	header .logo, .sticky .logo {  padding:0px;}
	header .form-inline { padding: 20px 0px;}
	
	
}
@media screen and (max-width: 568px) {
	.gallery-images .row > div, .parameters .row > div{ margin-bottom: 15px;}
	.parameters .col-sm-6,.website-block .col{ padding: 0px;}
	.website-block{ display: block !important; }
	footer .logo{width:180px;}
	footer ul { margin:0px;}
	footer .col-sm-3:first-child{margin-top: 0px;}
	footer .col-sm-3{ margin-top: 20px; }
	.parameters { margin-bottom: 10px;}
	.content, .website, .slider { margin: 30px 0px 40px;}
	.breadcrumb{ padding: 12px; }
	.parameters-heading h3{ font-size: 16px; }
	.parameters-image img {  height:auto;}
	
    .parameters .col-sm-3 a{ display:block; }
    .website-block .col{ padding:0px !important;}
}
@media screen and (max-width: 413px) {
}
@media screen and (max-width: 375px) {
	.carousel-item{ padding-bottom: 30px;}
	.social-media{ width: 30px; }	
}
@media screen and (max-width: 340px) {
}