#navbarToggleExternalContent{width: 865px; text-align: left; background-color: #e4f6fa; padding: 50px 50px; float: left;}  
.nicemenu {
    width: 240px; 
    padding-left: 0;
    margin: 0; 
    border-right:#009dcc solid 1px; 
} 

.header-menu-left ul{margin: 0; padding: 0;}
.header-menu-left ul li{list-style: none; font-family: 'proxima_novaregular'; font-size: 21px;}
.header-menu-left ul li a{color: #666666;}
.header-menu-left ul li a:hover{color: #009dcc; text-decoration: none;}  



.nicemenu-item { 
    
   padding: 0;
   position: relative; 
}


.nicemenu-item a {
    color: #000; 
    text-decoration: none 
}

.nicemenu-item a:hover {
    text-decoration: underline
} 


.nicemenu-sub {
    padding: 0;   
    height: auto !important; 
    overflow: hidden; 
    color: #000; 
    width: 282px;
    top: 0 !important;
    
}



.shadow-left-bottom {  
    box-shadow: -5px 5px 5px #888888 
}       




.menu-heading{width: 100%; float: left;}
.header-menu-wrap{width: 100%; float: left;}
.header-menu-left{width: auto; float: left;}  

.blue-pic_box{width: 407px; float: left; background: #009dcc; margin-top: 55px;}
.blue-pic_box .m-pic{width: 134px; float: left;}
.blue-pic_box .m-pic figure{width:100%; float: left; margin:0;}
.blue-pic_box .m-content{width: 273px; float: left; padding-left:20px; padding-right:20px;}
.blue-pic_box .m-content h4, .blue-pic_box .m-content p{ font-size: 18.33px; margin-bottom: 0px;}          

.nicemenu-sub-col{width: 282px; float: left; padding: 0 29px;}
.supplier_logo{width: 245px; float: right; padding-left: 30px; border-left:#009dcc solid 1px; }
.supplier_logo ul{width: 100%; float: left; margin:40px 0px 0px 0px; padding: 0;} 
.supplier_logo ul li{width: 100%; float: left; list-style: none;}   
.supplier_logo ul li:last-child{margin-bottom:0px; }
.nicemenu-item.active .supplier_logo{display: block;}

.supplier_logo h3{ font-size:24px; line-height: 33px; color:#666666; }
.supplier_logo p{ font-size:24px; line-height: 28px; color:#009dcc; }
.supplier_logo li{ margin:0px 0px 50px;}