/*other css*/
@import url(bootstrap.min.css);
@import url(animate.css);         
@import url(font-stylesheet.css);         
@import url(jquery.mmenu.all.css);


/*common css*/
.wrapper{ float: left; width: 100%;}
.container-fluid{ padding-left: 20px; padding-right:20px; }
.color-fff{ color:#fff; }  
body{ font-family: 'proxima_novaregular'; } 
.proxima_rg{font-family: 'proxima_novaregular';}
.proxima_semibold{font-family: 'proxima_novasemibold';}
.proxima_bold{font-family: 'proxima_nova_rgbold';}
.proxima_xbold{font-family: 'proxima_novaextrabold';}
.proxima_black{font-family: 'proxima_novablack';}
.pd-0{ padding:0px !important; }
.pd-10{ padding:0px 10px; }
a:hover{ text-decoration: none;}
*:focus{ outline: none !important; }
.sticky{position: fixed;z-index: 99999;background: #fff;top: 0;   -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3); padding:0px !important;
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3); box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);padding: 15px 0 10px 0;font-size: 0;-webkit-animation: fadeInDown 1s both;
animation: fadeInDown 1s both; width:100%;}
.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle,
.btn-outline-success.focus, .btn-outline-success:focus{ box-shadow:none !important; color:transparent;  background-color: transparent;   border-color:transparent;   }
a{  display: inline-block; }
.gallery .gallery-images a:hover img, .website-block a:hover .website-image img  {transition: all .3s ease-in; transform: scale(1.1); }
.gallery .gallery-images a, img,.website-block a{transition: all .3s ease-in; }
.gallery .gallery-images a{ width:100%;    }
.gallery .gallery-images .col-sm-3,.website-block > div{ overflow: hidden;}

.mobile-col{display: none;}
.mob-nav a{background: url(../images/menu-mobile.png) center center no-repeat;width: 24px;height: 24px;float: left;margin-right: 15px;vertical-align: middle; background-size: cover;}
.mobile a.active{color:#17c645;}  
.mm-navbar.mm-hasbtns {   background: #009dcc;  border-color: #fff;   color: #fff;  font-weight: 600; }
.mm-menu .mm-navbar .mm-btn::before, .mm-menu .mm-navbar .mm-btn::after{ border-color: #fff !important;}
.mm-menu .mm-navbar > *, .mm-menu .mm-navbar a{ color: #fff; }
.mm-navbar.mm-hasbtns{ padding: 0px 20px;}
.mm-menu .mm-navbar > *, .mm-menu .mm-navbar a{ padding: 9px 20px;}
.mm-navbar .mm-btn:last-child{ padding-right: 28px; }
/*header*/
header{   height:90px; box-shadow: 0px 5px 5px 0px rgba(21, 14, 14, 0.6);}
header .header-menu{ background: #009dcc; width:100%; max-width: 210px; }
header .navbar{ padding:0px; }
header .navbar button{ padding:30px 20px; }
.sticky .navbar button {  padding: 25px 20px;}
.sticky .report{padding: 0px 0px;}
.sticky .services a{ padding: 24px 23px;}
.sticky{ height: 80px;}
.sticky .logo {  padding: 8px 15px;}
header .header-menu nav p{ color:#fff; font-size:21px;  margin-bottom: 0px; }
.navbar-toggler{ padding:0px; border:0px; }
.navbar-dark .navbar-toggler-icon{ background-image: none !important; margin-right:12px;}
header .flag{ margin:33px 10px 33px 0px; }
header .flag a:first-child{ margin:0px 16px 0px 0px; }
header .services {  width:100%; max-width: 121px;line-height: 16px;  margin:0px 62px; }
header .services a{ background: #750016; font-size:15px; padding:29px 23px; transition:.7s all ease; }
header .services a:hover{ background: #009dcc; color:#fff; } 
header .report{ width:100%; max-width: 165px; line-height: 17px; margin-right: 58px; padding: 0px 0px; }
header .report a{ font-size: 15px; letter-spacing: 0px; color: #009dcc;  padding-left: 33px;}
header div button.btn-outline-success{ border:0px; background:url('../images/search.png'); width:25px; height:25px; background-size:cover; 
background-repeat: no-repeat; vertical-align:middle; outline: 0px; border-color:inherit;color:inherit; }    
.btn-outline-success:hover{ background-color: transparent; border-color: transparent; }
header .form-inline{ padding: 28px 0px; }
header .logo{ padding: 13px 15px; }         
#navbarToggleExternalContent{ position:relative; z-index:1;font-family: 'Montserrat', sans-serif !important; }
.menu-heading h2{ color:#666666; font-size: 34px; font-family: 'proxima_novablack'; font-weight: 900; }
.menu-heading p{ color:#009dcc; font-size: 24px; margin-bottom: 0px;}
.menu-heading {  margin-bottom: 52px;}
.header-menu-left ul li{ line-height:51.94px; }
.header-menu-left ul li a{ font-size:21.39px;} 
.nicemenu-sub ul li a{ font-size:18.33px; }
header{ position: relative;}

/*header second menu*/
/*
header  .dropdown:hover>.dropdown-menu {display: block;}
*/
header .dropdown>.dropdown-toggle:active { /*Without this, clicking will make it sticky*/ pointer-events: none;}
header .report a.dropdown-toggle:before{ content:' '; background-image:url('../images/report.png'); width:23px; height:31px; 
  background-size:cover; background-repeat: no-repeat; vertical-align:middle; margin-right: 11px; position: absolute;  left:0px; }
header  .dropdown-menu{ right: 0px; left:inherit; }
header  .dropdown-menu{ right: 0px; left:inherit; }
header .report .dropdown{padding: 28px 0px;}
header  .dropdown-menu{ margin: 0px; padding: 0px; border: 0px; width: 865px;}
.sticky .report .dropdown{padding: 21px 0px;}
.header-menu .dropdown-menu{ left:0px; }
.dropdown-toggle::after { display: none; }

header .report .nicemenu { width: 300px; }
header .report .supplier_logo {  width: 253px;  min-height: 317px;}
header .report .nicemenu-sub,header .report .nicemenu-sub-col{ width:235px; padding: 0px !important; font-size: 11px; color: ##666666 }
header .report .nicemenu,header .report .nicemenu-sub-col{ padding: 0px 15px !important; }
header .report #navbarToggleExternalContent{ font-size: 11px; color: ##666666; height: 394px; }
header .report #navbarToggleExternalContent span{ color: #00763e; text-transform: uppercase; margin: 5px 0px; display: block; font-size:15px;}
header .report #navbarToggleExternalContent h3{ color: #666666; text-transform: uppercase;}
header .report #navbarToggleExternalContent p{ margin-bottom: 15px; color: #666; font-size: 13px !important; }
header .report .supplier_logo p{ margin-bottom: 0px !important;}

/*breadcrumb*/
.breadcrumb{ margin-top:20px; background: #009dcc; height:70px; padding:22px 30px; border-radius: 0px;}
.breadcrumb p{ font-family: 'proxima_novaextrabold'; font-size: 17.5px; margin-bottom: 0px;}
.breadcrumb p span,.breadcrumb p a{ font-family: 'proxima_novaregular'; }
.breadcrumb p a{ margin:0px 6px; color: #fff; transition: .7s all ease; }
.breadcrumb-left p span:before{ content:''; background: url('../images/arrow.png'); backgroud-size:cover; height:11px; width:11px; background-position:center center;   margin-right:10px; display:inline-block; }
.breadcrumb p a:hover, footer ul li a:hover{color:#750016; }
.breadcrumb-left p span.no-arrow:before{ content: none; background: none; }
/*content*/
.content{ margin:122px 0px; }
.content-heading{ margin-bottom: 38px; }
.content-heading h1{ font-size: 34px; color:#009dcc; margin-bottom: 2px;}
.content-heading h2{ font-size: 33px; color:#009dcc; margin-bottom: 2px;}
.content-heading span{ font-size: 24px; color:#666666; }
.content p{ margin-bottom: 27px; font-size: 17.5px; color:#666666; line-height:25px;}
.content p span{color:#009dcc;}
.content-footer p{ line-height: 25px; margin-bottom: 0px;}

/*gallery*/
.gallery{ margin-bottom:20px; background: url('../images/gallery.png') no-repeat; background-size:cover; background-position: center center; padding:95px 0px 71px; }
.gallery h2{ color:#009dcc; margin-bottom:0px; font-size: 34px; }
h2{ color:#009dcc; margin-bottom:0px; font-size: 34px; font-family: 'proxima_novablack';}
.gallery span{ font-size: 24px; color:#666666; }
.gallery-heading{ margin-bottom:50px; }
.gallery-images  > .row, .parameters  > .container-fluid > .row, .website  > .container-fluid > .row, .slider  > .container-fluid > .row{ margin-left:0px; margin-right: 0px; }
.gallery-images{ margin-bottom:40px; }
.gallery-btn a,.blue-border-btn a{ font-family: 'proxima_novablack'; font-size: 20px; color:#009dcc; border:1px solid #009dcc; padding:14px 32px; transition:.7s all ease; }
.gallery-btn a:hover,.blue-border-btn a:hover{ background: #009dcc; color:#fff; }

/*slider*/
.slider{ margin-bottom: 130px; }
.white-border-btn a,.slider-btn a{ font-family: 'proxima_novablack'; font-size: 20px; border:1px solid #fff; margin-top:90px; padding:16px 32px; 
	color:#fff; transition:.7s all ease; }
.white-border-btn a:hover,.slider-btn a:hover{ background: #fff; color:#009dcc; border:1px solid #fff;} 
.slider .carousel-indicators { margin:0%; bottom:0px; flex-direction: row; justify-content: flex-end;}
.slider-right{ background:#009dcc; padding:62px 50px; }
.slider p{ font-size:24px; }
.slider .address span{ font-size:17.5px; font-family: 'proxima_novablack';  }
.slider .address p { font-size:17.5px; font-family: 'proxima_novaregular';  }
.slider .address{margin-bottom:35px;}


/*parameters*/
.parameters{ margin-bottom:52px; }
.parameters-heading h3{ font-size: 28px; font-family: 'proxima_novablack'; margin-bottom: 0px; color:#009dcc; } 
.parameters-heading span{ font-size: 24px; color:#666666; }
.parameters-block{ background:#e6e6e6; padding:5px;box-sizing:border-box; }
.parameters-heading{ padding:15px 38px; }
.parameters-image{ padding:28px 38px; background: #fff; }
.parameters .col-sm-6{ padding:0px 20px; }

/*website*/
.website{ margin-bottom:88px; }
.website a{ color:#fff; transition:.7s all ease; display: block;}
.website-heading h3{ font-family: 'proxima_novablack'; margin-bottom: 0px;  } 
.website-heading span{ font-size: 24px; }
.website-block{ position: relative; }
.website-heading{ padding:15px 38px; }
.website-image{ background: #fff; }
.website .col-sm-6{ padding:0px 20px; }
.green-block{ background:#00763e; } 
.green-block .website-desc{ background:rgba(56,133,80,.8); } 
.blue-block{ background:#009dcc; }
.blue-block,.blue-block .website-desc{ background:rgba(22,128,136,.8); }
.red-block{ background:#e30917; }
.red-block .website-desc{ background:rgba(214,58,65,.8); }
.orange-block{ background:#f18924; }
.orange-block,.orange-block .website-desc{ background:rgba(210,119,38,.8); }
.website-desc p{ font-family: 'proxima_novablack'; margin-bottom: 0px; font-size: 20px; line-height: 31px; text-transform: uppercase; }
.website-desc{padding:16px 43px; position:absolute; bottom:0px; }
.website-desc p:before{ content:''; background: url('../images/arrow.png'); backgroud-size:cover; height:11px; width:11px; background-position:center center; display:inline-block;margin-left: -20px;
margin-right: 10px; }
.website-block .col{ padding-left: 10px; padding-right: 10px;}
.website-block .col:first-child{ padding-left:0px; }
.website-block .col:last-child{ padding-right:0px; }
.website-image img{ min-height: 184px; }

/*footer*/
footer{ margin-bottom: 50px; }
footer ul{ margin-top:40px; }
footer ul li{ list-style-type: none; font-size: 16.03px; color:#666666; line-height: 26.06px;}
footer ul li a{ font-size: 16.03px; color:#009dcc; transition: .7s all ease;  }
.social-media{ position: fixed; right: 20px; top:100px; }
.social-media ul{ padding: 10px 0px 10px 10px; background: #fff; }
.social-media ul li{ margin-bottom: 10px;}
.social-media ul li img:hover{opacity: .7;}

/*Golf-Mitgliedschaft*/
.accordion{font-family: 'Open Sans', sans-serif;}
.accordion a.collapsed .symbol:before{ content:''; background-image: url('../images/plus.png'); backgroud-size:cover; height:31px; width:31px; background-position:center center; vertical-align: bottom;display:inline-block; transform: rotate(0deg); }
.accordion a .symbol:before{ content:''; background: url('../images/plus.png'); backgroud-size:cover; height:31px; width:31px; background-position:center center; vertical-align: bottom;display:inline-block; transform: rotate(-45deg); }
.pd-right{ padding-right: 0px; }
.pd-left{ padding-left: 0px; }

.accordion h5{ font-size: 22px; color:#009dcc; text-transform: uppercase;font-family: 'proxima_novablack'; margin-bottom:15px; max-width: 92%; }
.card{ background: #eaedf2; border:0px; border-bottom:1px solid #fff !important; border-right:1px solid #fff !important;padding:0px; border-radius:0px;}
.accordion-header{ padding-bottom:0px; }
.symbol{ font-size:inherit;right: 10px; top: 50%; transform: translate(0%,-50%);}
.card .download{ font-size:24px; color:#009dcc; } 
.card-body .blue-border-btn a{ padding:14px 22px; } 
.card-body{ margin-bottom:38px; padding: 0px 15px;}
.collapse.show .symbol:before{    transform: rotate(-45deg);}
#navbarToggleExternalContent, .menu-heading h2,.supplier_logo h3,.supplier_logo p{ font-family: 'Montserrat', sans-serif !important; }
.header-menu .supplier_logo p{font-weight: 900; }
.accordion-header a{ width: 100%; padding: 32px 15px;}
/**************/


.header-search .block-search {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.9);
    z-index: 999;
    padding: 0;
}
.header-search .block-search .block-content {
    max-width: 100%;
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.search-close {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
.header-search .block-search input {
    font-size: 16px;
    padding: 0 15px;
    height: 50px;
    background: none;
    border-bottom: 2px solid rgba(255,255,255,.4);
    color: #fff;
    border-radius: 0;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    text-transform: capitalize;
}

.breadcrumb-right p::before{ content: ''; background:url('../images/phone.png'); width:26px; height:25px; background-size:cover; background-repeat:no-repeat;t;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 8px;
 }